
html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
  background-color: white
}

#side-bar{
	position: absolute;
	width: 500px;
	height: 100%;
	background-color: #F0F8FF;
	right:-600px;
	transition: .4s;
	padding: 20px;

}

#side-bar.active{
	right:0;
}

li{

}

li:hover{

}
